body {
    font-family: Poppins;
}

a {
    list-style: none;
    color: black;
    text-decoration: none;
}

#lengthText {
    background-color: black;

    padding: 2px 5px;

    color: white;
    position: absolute;
    bottom: -2px;
    right: 5px;
    font-size: 10px;
    border-radius: 5px;
}


#imgContainer {
    position: relative;
    
}

#title,
#viewCountText {
    font-size: 14px;
    margin-left: 10px;
    font-family: Roboto;
    font-weight: 500;
}

#thumbnails{
    border-radius: 15px;
    width: 100%;
    height: 10%;
}

#container {
    margin-top: 10px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
}


#eg-txt {
    font-size: 13px;
    width: 245px;
    justify-items: center;
    display: grid;
    opacity: 0;
    transition: opacity 0.3s;
}

#inputt:hover #eg-txt {
    opacity: 0.5;
}

#inputt {
    margin: auto;
    width: 23%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40px;
  
}

input {
    font-size: 15px;
    height: 25px;
    width: 200px;
    align-self: flex-end;
    margin-left: 20px;
}

button {
    justify-self: center;
    margin-top: 8px;
    padding: 7px 12px;
    background-color: brown;
    color: white;
    border-radius: 15px;
    border: 0;
    align-self: baseline;
}

#imgg {
    border-radius: 150px;
    height: 100px;
    width: 100px;
    align-self: center;
    border: 0;
}






#channelUrl{
    display: grid;
    justify-items: center;
    margin: auto;
    width:30%;
}


#channel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}



#set{
    flex: 1;
    margin-left: 20px;
}


#channelName {
    font-size: 35px;
    margin: 0;
    margin-top: 10px;
}



#sub {
    bottom: 40px;
    margin: 0;
}


















@media(max-width:1250px){
    #container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    

    #inputt{
        width: 37%;
    }

    #channelUrl{
        width: 37%;
    }

}






@media(max-width:980px){
    #container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    

    #inputt{
        width: 37%;
    }

    #channelUrl{
        width: 50%;
    }

}

@media(max-width:700px){
    #container{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
    #inputt{
        width: 47%;
    }

    #channelUrl{
        width: 70%;
    }


}


@media(max-width:600px){
    #container{
        grid-template-columns: 1fr 1fr ;
        width: 90%;
    }
    #channelUrl{
        width: 78%;
        
    }

    #inputt{
        width: 57%;
    }

    
}

@media(max-width:450px){
    #container{
        grid-template-columns: 1fr ;
        width: 100%;

        
    }
    #channelUrl{
        width: 90%;
        
    }

   
    #inputt{
        width: 70%;
    }

    
}

@media(max-width:320px){
    #container{
        grid-template-columns: 1fr ;
        margin-left: 50px;
    }
    
    #inputt{
        width: 60%;
    }

    #channelUrl{
        width: 100%;
        
    }

    
    #channelName{
        font-size: 45px;
    }
}
